* {
	box-sizing: border-box;
}

body {
	background-color: #254b62;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-height: 100vh;
	margin: 0;
	padding: 30px;
}

.main-header {
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #cff532;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container input {
	display: flex;
	align-items: center;
	border: 2px solid #cff532;
	color: #fcfaf1;
	background-color: transparent;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 250px;
	text-align: right;
	font-size: 130%;
}

.container input:focus {
	outline: none;
	border: 2px solid #fcfaf1;
}

.container p {
	font-weight: bold;
	color: #fcfaf1;
	text-align: center;
	/* margin-right: 20px; */
}

.container span {
	font-size: 180%;
	color: #fcfaf1;
}

.container select {
	text-transform: capitalize;
	padding: 20px;
	outline: none;
	background-color: transparent;
	color: #fcfaf1;
	border: 2px solid #cff532;
	width: 330px;
	margin-left: 10px;
}

.container select option {
	background-color: #254b62;
	border: 2px solid #cff532;
}

@media (max-width: 800px) {
	.container {
		width: 90%;
		display: block;
		text-align: center;
	}

	.container p {
		font-size: 140%;
	}

	.container span {
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.container input {
		font-size: 120%;
		padding: 20px;
		width: 60%;
		margin: auto;
	}

	.container select {
		text-transform: capitalize;
		text-align-last: center;
		margin: 20px auto;
		width: 80%;
	}
}
